@import "tailwindcss";
@import "./fonts.css";

@theme {
  /* Font family */
  --font-sans: 'Routine', sans-serif;

  /* Colors */
  --color-black: #000000;
  --color-white: #ffffff;
  --color-snow: #f5f5f5;
  --color-gray: #828282;
  --color-navy: #00455c;
  --color-slate: #5a778e;
  --color-silver: #c8c8c8;
  --color-red: #dc0000;
  --color-lime: #7d9b00;
  --color-olive: #555700;
  --color-wine: #75000a;
  --color-bronze: #8c6900;

  /* Font sizes */
  --text-sm: 0.75rem;
  --text-md: 1rem;
  --text-lg: 1.5rem;
}
